In [ ]:
import pandas as pd

In [10]:
def predict_1000_movies():
    md = pd.read_csv('./ml-latest-small/movies_metadata.csv')
    md['movieId'] = md.index
    md['movieId'] = md['movieId'].apply(lambda x: x + 1)
    vote_counts = md[md['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = md[md['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.75)
    qualified = md[(md['vote_count'] >= m) & (md['vote_count'].notnull()) & (md['vote_average'].notnull())][
        ['title', 'vote_count', 'vote_average', 'popularity', 'genres', 'movieId']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')

    def weighted_rating(x):
        v = x['vote_count']
        R = x['vote_average']
        return (v / (v + m) * R) + (m / (m + v) * C)

    qualified['wr'] = qualified.apply(weighted_rating, axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(10000)
    tmp = qualified[['movieId', 'title']]
    tmp.to_csv('./ml-latest-small/qualified_movies.csv')
    return qualified

In [11]:
predict_1000_movies()

/var/folders/bd/vx234tw51sd2c9wrd9ltpf3c0000gn/T/ipykernel_90024/2856823767.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  md = pd.read_csv('./ml-latest-small/movies_metadata.csv')

,title,vote_count,vote_average,popularity,genres,movieId,wr
10309,Dilwale Dulhania Le Jayenge,661,9,34.457024,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",10310,8.816297
15480,Inception,14075,8,29.108149,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",15481,7.993361
12481,The Dark Knight,12269,8,123.167259,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",12482,7.992386
22879,Interstellar,11187,8,32.213481,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",22880,7.991652
2843,Fight Club,9678,8,63.869599,"[{'id': 18, 'name': 'Drama'}]",2844,7.990355
...,...,...,...,...,...,...,...
12495,Drillbit Taylor,284,5,7.855932,"[{'id': 35, 'name': 'Comedy'}]",12496,5.026184
12359,The Eye,284,5,8.233662,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",12360,5.026184
6156,Bulletproof Monk,285,5,7.963481,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",6157,5.026102
23645,Planes: Fire & Rescue,286,5,7.579855,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",23646,5.026020
7222,The Prince & Me,286,5,11.631511,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",7223,5.026020